@import '@material/theme/color-palette';

// Svelte Colors!
$mdc-theme-primary: #039be5;
$mdc-theme-secondary: #039be5;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;
$mdc-theme-on-surface: #333;

// mdc select
$mdc-select-label-position-y: 130% !default;
$mdc-select-height: 48px !default;


$mdc-list-side-padding: 16px !default;